@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr; }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em; }
    #section-a .content-text p {
      padding-top: 0; }
  .content-wrap {
    grid-column: 2/4; }
  #section-b ul {
    grid-column: 1/5;
    flex-direction: row;
    justify-content: space-between; }
    #section-b ul li {
      width: 31%; }
      #section-b ul li img {
        height: auto; }
      #section-b ul li img:nth-child(1) {
        height: 25em; }
  #section-f iframe {
    width: 600px;
    height: 450px; }
  .box, #main-footer div {
    grid-column: span 2; } }
